  <h1>User info</h1>
  <div>
  <% if user.profile_image.attached? %>
    <%= image_tag user.profile_image, size: "60x60" %>
  <% else %>
    <%= image_tag 'no_image', size: "60x60" %>
  <% end %>
  <h3><%= user.name %></h3>
  <h3><%= user.introduction %></h3>
  </div>
  <div class="row">
  <%= link_to edit_user_path(user), class: 'btn btn-outline-secondary btn-block' do  %>
    <i class="fas fa-user-cog"></i>
  <% end %>
  </div>

  <h1>New book</h1>
  <%= flash[:notice] %>
  <%= form_with model:book do |f| %>
  <label for="book_title">Title</label><br>
  <%= f.text_field :title %><br>
  <label for="book_opinion">Opinion</label><br>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book', class: 'btn btn-success' %>
  <% end %>



